* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(145deg, rgba(119,71,139,1) 0%, rgba(39,95,113,1) 100%);
  background-attachment: fixed;
}

a {
  color: #369;
}

#drop-area {
  background: #fff;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
}

#drop-area.highlight {
  border-color: purple;
}

.upload-form {
  margin: 10px;
}

#gallery {
  margin-top: 10px;
}

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px
}

.button:hover {
  background: #ddd;
}

#fileElem {
  display: none;
}