body {
  font-family: 'Arial', sans-serif;
  /* background-color:rgba(15,47,134, 1); */
  background-color: rgba(120,122,201, 1);
  
  /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; */
}

#map {
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}